.background {
 width: 200px;
 height: 200px;

 background-color: aqua;
 /* 배경색 추가 */

 background-image: url https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzAyMTNfMTE4%2FMDAxNjc2Mjk0MTgzMzc2.yX0mvmFg9Dx-iwQXV5wiA0pBARNoYliLtZidl9uOPdEg.1BMgB9xVwAU54EF9NUZt9deMFh6IzEAwXCXL0ihgqPMg.JPEG.nasj016%2FBandPhoto%25A3%25DF2023%25A3%25DF02%25A3%25DF13%25A3%25DF22%25A3%25DF15%25A3%25DF52.jpg&type=a340;
 /* 배경 이미지 추가 */

 background-size: contain;
 /*배경 이미지의 크기 지정, 이미지가 다 보일 수 있게 크기를 맞춰줌(비율 맞춤) */
 
background-size: cover;
/* 배경 이미지의 크기 지정, 최대크기(비율 맞춤), 이미지가 짤릴 수 있다. 이미지와 비율 맞춰야함 */

background-size: 100px 100px;
/* 이미지 사이즈 지정 너비, 높이 */
 
 background-position: 10px 10px;
 /* 배경 이미지의 위치 지점 x축 , y축 */

 background-position: center;
 /* 배경 이미지의 위치 가운데 맞춤 */

 background-repeat: no-repeat;
 /* 배경 이미지 반복 여부, 반복하지 않는다. */

 background-repeat: repeat;
 /* 배경 이미지 반복 여부, 반복한다, 기본값 */

 background-repeat: repeat-x;
 /* 배경이미지를 x축으로만 반복한다. */

 background-repeat: repeat-y;
 /* 배경이미지를  y축으로만 반복한다. */

}
